{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'operationstyle.css' %}">
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <!-- Include Leaflet JS and Custom Mapping JS -->
    <script type="text/javascript" src="{% static "/js/operations.js" %}"></script>


</head>
<body>
    <div class="container-fluid">
        <div class="row mt-4">
            <!-- Tabs Section -->
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="projectTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="onePointTab" data-bs-toggle="tab" data-bs-target="#onePointContent" type="button" role="tab" aria-controls="onePointContent" aria-selected="true">Add New Project (One Point)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="budgetTab" data-bs-toggle="tab" data-bs-target="#budgetContent" type="button" role="tab" aria-controls="budgetContent" aria-selected="false">Budgeting</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="expensesTab" data-bs-toggle="tab" data-bs-target="#expensesContent" type="button" role="tab" aria-controls="expensesContent" aria-selected="false">Expenses</button>
                    </li>
                </ul>
                <div class="tab-content" id="projectTabsContent">
                    <!-- Add New Project (One Point) Tab Content -->
                    <div class="tab-pane fade show active" id="onePointContent" role="tabpanel" aria-labelledby="onePointTab">
                        <div class="card">
                            <div class="card-body" id="onepdata">
                                <h2 class="card-title">Add New Project (One Point)</h2>
                                <form method="post" action="{% url 'create_oneproject' %}" class="responsive-form">
                                    {% csrf_token %}
                                        <label for="onepname">Project Name:</label><br>
                                        <input type="text" id="onepname" name="onepname" class="form-control"><br>
                                        
                                        <label for="oneptype" class="form-label">Project Type:</label>
                                        <select id="oneptype" name="oneptype" class="form-select">
                                            {% if oneproject_types %}
                                                <option value="" disabled selected>Select Project Type</option>
                                                {% for choice in oneproject_types %}
                                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                {% endfor %}
                                            {% else %}
                                                <option value="" disabled>No project types available</option>
                                            {% endif %}
                                        </select>
                                        <br>
                                        <label for="onepbudget">Budget:</label><br>
                                        <input type="number" id="onepbudget" name="onepbudget" class="form-control"><br>
                                        
                                        <label for="onepstatus">Status:</label><br>
                                        <select id="onepstatus" name="onepstatus" class="form-select">
                                            {% if oneproject_statuses %}
                                                <option value="" disabled selected>Select Project Status</option>
                                                {% for choice in oneproject_statuses %}
                                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                {% endfor %}
                                            {% else %}
                                                <option value="" disabled>project status unavailable</option>
                                            {% endif %}
                                        </select><br>
                                        
                                        <label for="coordinatorname">Coordinator Name:</label><br>
                                        <input type="text" id="coordinatorname" name="coordinatorname" class="form-control"><br>
                                        
                                        <label for="onepdescription">Description:</label><br>
                                        <textarea id="onepdescription" name="onepdescription"  class="form-control" rows="3"></textarea><br>
                                        
                                        <label for="onepaddress">Address:</label><br>
                                        <input type="text" id="onepaddress" name="onepaddress" class="form-control"><br>
                                    
                                        <!-- Map Container -->
                                        <div class="map-card-body">
                                            <div id="markerCoordinatesone"></div> 
                                            <div id="mapone"></div> <!-- Map will be rendered here -->
                                        </div><br>
                                        <label for="oneplatitude">Latitude:</label><br>
                                        <input type="text" id="oneplatitude" name="oneplatitude" class="form-control"><br>
                                        
                                        <label for="oneplongitude">Longitude:</label><br>
                                        <input type="text" id="oneplongitude" name="oneplongitude" class="form-control"><br>

                                        <button type="submit" class="form-button">Save</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                    <!-- Budgeting Tab Content -->
                    <div class="tab-pane fade" id="budgetContent" role="tabpanel" aria-labelledby="budgetTab">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Budgeting</h2>
                                <p>Content for Budgeting tab goes here.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Expenses Tab Content -->
                    <div class="tab-pane fade" id="expensesContent" role="tabpanel" aria-labelledby="expensesTab">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Expenses</h2>
                                <p>Content for Expenses tab goes here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (optional, for Bootstrap components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />

</body>
</html>
{% endblock %}
